USE [master]
GO
/****** Object:  Database [Работа индивид]    Script Date: 27.05.2025 16:06:27 ******/
CREATE DATABASE [Работа индивид]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Работа индивид', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Работа индивид.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Работа индивид_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Работа индивид_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Работа индивид].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Работа индивид]
GO
/****** Object:  Table [dbo].[администрация]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[администрация](
	[id] [int] NOT NULL,
	[администратор] [varchar](100) NULL,
	[должность] [varchar](100) NULL,
	[контакты] [nvarchar](100) NULL,
	[полномочия] [nvarchar](100) NULL,
	[id_модуля] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[АрхивСтанции]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[АрхивСтанции](
	[ID_записи] [int] NOT NULL,
	[Событие] [varchar](200) NULL,
	[Дата] [date] NULL,
	[Описание] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Видеонаблюдение]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Видеонаблюдение](
	[ID_записи] [int] NOT NULL,
	[ID_модуля] [int] NULL,
	[ДатаВремя] [datetime] NULL,
	[ОписаниеСобытия] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ГрафикСмен]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГрафикСмен](
	[ID_смены] [int] NOT NULL,
	[ID_космонавта] [int] NULL,
	[ДатаНачала] [date] NULL,
	[ДатаОкончания] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_смены] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ГрузовыеМиссии]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГрузовыеМиссии](
	[id] [int] NOT NULL,
	[поставщик] [varchar](100) NULL,
	[дата_доставки] [date] NULL,
	[содержимое] [nvarchar](50) NULL,
	[модуль_id] [int] NULL,
 CONSTRAINT [PK__Грузовые__3213E83FF6035FE6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[инженеры]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[инженеры](
	[id] [int] NOT NULL,
	[ФИО] [varchar](100) NULL,
	[отдел] [varchar](100) NULL,
	[квалификация] [nvarchar](50) NULL,
	[опыт] [int] NULL,
	[телефон] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
 CONSTRAINT [PK__инженеры__3213E83F822515BA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Командировки]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Командировки](
	[ID_командировки] [int] NOT NULL,
	[ID_космонавта] [int] NULL,
	[Цель] [varchar](200) NULL,
	[ДатаНачала] [date] NULL,
	[ДатаОкончания] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_командировки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Космонавты]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Космонавты](
	[id] [int] NOT NULL,
	[ФИО] [varchar](100) NULL,
	[должность] [varchar](50) NULL,
	[дата_рождения] [date] NULL,
	[статус] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[медицинские_данные]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[медицинские_данные](
	[id] [int] NOT NULL,
	[ID_космонавт] [int] NULL,
	[обследование] [datetime] NULL,
	[давление] [int] NULL,
	[пульс] [int] NULL,
	[уровень_сахара] [int] NULL,
	[заключение] [varchar](100) NULL,
 CONSTRAINT [PK__медицинс__3213E83F9917281F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[МодулиСтанции]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[МодулиСтанции](
	[id] [int] NOT NULL,
	[название] [varchar](50) NULL,
	[назначение] [nvarchar](50) NULL,
	[дата_запуска] [date] NULL,
	[состояние] [nvarchar](50) NULL,
	[id_экипажа] [int] NULL,
 CONSTRAINT [PK__МодулиСт__3213E83F6E12242B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[оборудование]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[оборудование](
	[id] [int] NOT NULL,
	[серийный_номер] [varchar](50) NULL,
	[производитель] [varchar](100) NULL,
	[характеристики] [nvarchar](50) NULL,
	[Стоимость] [money] NULL,
	[дата_установки] [date] NULL,
	[ID_модуля] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[продукты_питания]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[продукты_питания](
	[id] [int] NOT NULL,
	[продукт] [varchar](100) NULL,
	[количество] [int] NULL,
	[срок_годности] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[РасписаниЕРабот]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[РасписаниЕРабот](
	[id] [int] NOT NULL,
	[задача] [nvarchar](50) NULL,
	[id_Космонавта] [int] NULL,
	[срок] [datetime] NULL,
 CONSTRAINT [PK__Расписан__3213E83F5EF2DEA9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Расходы]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расходы](
	[ID] [int] NOT NULL,
	[Название] [varchar](100) NULL,
	[Категория] [varchar](50) NULL,
	[Количество] [int] NULL,
	[ID_модуля] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[РезервныеКопии]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[РезервныеКопии](
	[ID] [int] NOT NULL,
	[ДатаСоздания] [datetime] NULL,
	[Размер] [int] NULL,
	[Путь] [varchar](200) NULL,
	[Статус] [varchar](20) NULL,
	[Id_медданных] [int] NULL,
	[Id_архива] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[технические_неисправности]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[технические_неисправности](
	[id] [int] NOT NULL,
	[модуль_id] [int] NULL,
	[средство_id] [int] NULL,
	[неисправность] [nvarchar](50) NULL,
	[дата] [datetime] NULL,
	[ID_инженера] [int] NULL,
 CONSTRAINT [PK__техничес__3213E83FBE35A29E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТехническоеОбслуживание]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТехническоеОбслуживание](
	[ID_обслуживания] [int] NOT NULL,
	[ID_модуля] [int] NULL,
	[Дата] [date] NULL,
	[ОписаниеРабот] [nvarchar](50) NULL,
	[Статус] [varchar](20) NULL,
	[ID_Инженера] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_обслуживания] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ученые]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ученые](
	[id] [int] NOT NULL,
	[ФИО] [varchar](100) NULL,
	[страна] [varchar](50) NULL,
	[научные_интересы] [nvarchar](50) NULL,
	[контакты] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[экипажи]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[экипажи](
	[id] [int] NOT NULL,
	[номер_экипажа] [int] NULL,
	[количество] [int] NULL,
	[начало_дата] [date] NULL,
	[конец_дата] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Эксперименты]    Script Date: 27.05.2025 16:06:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Эксперименты](
	[id] [int] NOT NULL,
	[название] [nvarchar](100) NULL,
	[описание] [nvarchar](50) NULL,
	[дата_начала] [date] NULL,
	[id_ученого] [int] NULL,
	[результат] [nvarchar](50) NULL,
	[статус] [nvarchar](50) NULL,
 CONSTRAINT [PK__Эксперим__3213E83FFFEE08A7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[администрация]  WITH CHECK ADD  CONSTRAINT [FK_администрация_МодулиСтанции] FOREIGN KEY([id_модуля])
REFERENCES [dbo].[МодулиСтанции] ([id])
GO
ALTER TABLE [dbo].[администрация] CHECK CONSTRAINT [FK_администрация_МодулиСтанции]
GO
ALTER TABLE [dbo].[Видеонаблюдение]  WITH CHECK ADD  CONSTRAINT [FK_Видеонаблюдение_МодулиСтанции] FOREIGN KEY([ID_модуля])
REFERENCES [dbo].[МодулиСтанции] ([id])
GO
ALTER TABLE [dbo].[Видеонаблюдение] CHECK CONSTRAINT [FK_Видеонаблюдение_МодулиСтанции]
GO
ALTER TABLE [dbo].[ГрафикСмен]  WITH CHECK ADD  CONSTRAINT [FK_ГрафикСмен_Космонавты] FOREIGN KEY([ID_космонавта])
REFERENCES [dbo].[Космонавты] ([id])
GO
ALTER TABLE [dbo].[ГрафикСмен] CHECK CONSTRAINT [FK_ГрафикСмен_Космонавты]
GO
ALTER TABLE [dbo].[ГрузовыеМиссии]  WITH CHECK ADD  CONSTRAINT [FK__ГрузовыеМ__модул__3E52440B] FOREIGN KEY([модуль_id])
REFERENCES [dbo].[МодулиСтанции] ([id])
GO
ALTER TABLE [dbo].[ГрузовыеМиссии] CHECK CONSTRAINT [FK__ГрузовыеМ__модул__3E52440B]
GO
ALTER TABLE [dbo].[Командировки]  WITH CHECK ADD  CONSTRAINT [FK_Командировки_Космонавты] FOREIGN KEY([ID_космонавта])
REFERENCES [dbo].[Космонавты] ([id])
GO
ALTER TABLE [dbo].[Командировки] CHECK CONSTRAINT [FK_Командировки_Космонавты]
GO
ALTER TABLE [dbo].[медицинские_данные]  WITH CHECK ADD  CONSTRAINT [FK_медицинские_данные_Космонавты] FOREIGN KEY([ID_космонавт])
REFERENCES [dbo].[Космонавты] ([id])
GO
ALTER TABLE [dbo].[медицинские_данные] CHECK CONSTRAINT [FK_медицинские_данные_Космонавты]
GO
ALTER TABLE [dbo].[МодулиСтанции]  WITH CHECK ADD  CONSTRAINT [FK_МодулиСтанции_экипажи] FOREIGN KEY([id_экипажа])
REFERENCES [dbo].[экипажи] ([id])
GO
ALTER TABLE [dbo].[МодулиСтанции] CHECK CONSTRAINT [FK_МодулиСтанции_экипажи]
GO
ALTER TABLE [dbo].[оборудование]  WITH CHECK ADD  CONSTRAINT [FK_оборудование_МодулиСтанции] FOREIGN KEY([ID_модуля])
REFERENCES [dbo].[МодулиСтанции] ([id])
GO
ALTER TABLE [dbo].[оборудование] CHECK CONSTRAINT [FK_оборудование_МодулиСтанции]
GO
ALTER TABLE [dbo].[РасписаниЕРабот]  WITH CHECK ADD  CONSTRAINT [FK_РасписаниЕРабот_Космонавты] FOREIGN KEY([id_Космонавта])
REFERENCES [dbo].[Космонавты] ([id])
GO
ALTER TABLE [dbo].[РасписаниЕРабот] CHECK CONSTRAINT [FK_РасписаниЕРабот_Космонавты]
GO
ALTER TABLE [dbo].[Расходы]  WITH CHECK ADD  CONSTRAINT [FK_Расходы_МодулиСтанции] FOREIGN KEY([ID_модуля])
REFERENCES [dbo].[МодулиСтанции] ([id])
GO
ALTER TABLE [dbo].[Расходы] CHECK CONSTRAINT [FK_Расходы_МодулиСтанции]
GO
ALTER TABLE [dbo].[РезервныеКопии]  WITH CHECK ADD  CONSTRAINT [FK_РезервныеКопии_АрхивСтанции] FOREIGN KEY([Id_архива])
REFERENCES [dbo].[АрхивСтанции] ([ID_записи])
GO
ALTER TABLE [dbo].[РезервныеКопии] CHECK CONSTRAINT [FK_РезервныеКопии_АрхивСтанции]
GO
ALTER TABLE [dbo].[РезервныеКопии]  WITH CHECK ADD  CONSTRAINT [FK_РезервныеКопии_медицинские_данные] FOREIGN KEY([Id_медданных])
REFERENCES [dbo].[медицинские_данные] ([id])
GO
ALTER TABLE [dbo].[РезервныеКопии] CHECK CONSTRAINT [FK_РезервныеКопии_медицинские_данные]
GO
ALTER TABLE [dbo].[технические_неисправности]  WITH CHECK ADD  CONSTRAINT [FK_технические_неисправности_инженеры] FOREIGN KEY([ID_инженера])
REFERENCES [dbo].[инженеры] ([id])
GO
ALTER TABLE [dbo].[технические_неисправности] CHECK CONSTRAINT [FK_технические_неисправности_инженеры]
GO
ALTER TABLE [dbo].[технические_неисправности]  WITH CHECK ADD  CONSTRAINT [FK_технические_неисправности_МодулиСтанции] FOREIGN KEY([модуль_id])
REFERENCES [dbo].[МодулиСтанции] ([id])
GO
ALTER TABLE [dbo].[технические_неисправности] CHECK CONSTRAINT [FK_технические_неисправности_МодулиСтанции]
GO
ALTER TABLE [dbo].[ТехническоеОбслуживание]  WITH CHECK ADD  CONSTRAINT [FK_ТехническоеОбслуживание_инженеры] FOREIGN KEY([ID_Инженера])
REFERENCES [dbo].[инженеры] ([id])
GO
ALTER TABLE [dbo].[ТехническоеОбслуживание] CHECK CONSTRAINT [FK_ТехническоеОбслуживание_инженеры]
GO
ALTER TABLE [dbo].[ТехническоеОбслуживание]  WITH CHECK ADD  CONSTRAINT [FK_ТехническоеОбслуживание_МодулиСтанции] FOREIGN KEY([ID_модуля])
REFERENCES [dbo].[МодулиСтанции] ([id])
GO
ALTER TABLE [dbo].[ТехническоеОбслуживание] CHECK CONSTRAINT [FK_ТехническоеОбслуживание_МодулиСтанции]
GO
ALTER TABLE [dbo].[Эксперименты]  WITH CHECK ADD  CONSTRAINT [FK_Эксперименты_ученые] FOREIGN KEY([id_ученого])
REFERENCES [dbo].[ученые] ([id])
GO
ALTER TABLE [dbo].[Эксперименты] CHECK CONSTRAINT [FK_Эксперименты_ученые]
GO
USE [master]
GO
